<!doctype html>
<html>
  <head>
    <title>Bluemixer::Root</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/root">Root</a></li>
    </ul>
    <h1>Square Root a Number</h1>
    <form method="post" action="/root">
      <input type="text" name="x" value="<%= root %>"/>
      <button>Root</button>
    </form>
  </body>
</html>
