<!doctype html>
<html>
  <head>
    <title>Bluemixer::Square</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/square">Square</a></li>
    </ul>
    <h1>Square a Number</h1>
    <form method="post" action="/square">
      <input type="text" name="x" value="<%= square %>"/>
      <button>Square</button>
    </form>
  </body>
</html>
