<!doctype html>
<html>
<head>
  <title>Save Cecil's Brother</title>
</head>
<body bgcolor="#E9C2A6">
  <h1>Jericho</h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/cecil-bro">Track Cecil's Brother</a></li>
    <li><a href="/rangers">Rangers</a></li>
  </ul>
  <h2>Bio Data</h2>
  <canvas id="gyroY" width="400" height="400"></canvas>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/js/Chart.js"></script>
  <script src="/js/biochart.js"></script>
</body>
</html>
