<!doctype html>
<html>
<head>
  <title>Omega/Chyld</title>
</head>
<body>
  <h1>Omega/Chyld</h1>
  <h2>Home Page</h2>
  <ul>
    <li><a href="/">Home Page</a></li>
    <li><a href="/trip">Trip Calculator</a></li>
    <li><a href="/photos">Photos</a></li>
    <li><a href="/people">People</a></li>
  </ul>
</body>
</html>
