<!doctype html>
<html>
<head>
  <title>Omega/Chyld</title>
</head>
<body>
  <h1>Omega/Chyld</h1>
  <h2>People</h2>
  <ul>
    <li><a href="/">Home Page</a></li>
    <li><a href="/people">People</a></li>
  </ul>
  <form method="post" action="/people">
    <input type="text" name="name" />
    <button>Add Person</button>
  </form>
  <% for(var i = 0; i < rows.length; i++) { %>
    <ul>
      <li><a href="/people/<%= rows[i].doc._id %>"><%= rows[i].doc.name %></a></li>
    </ul>
  <% } %>
</body>
</html>
