<!doctype html>
<html>
<head>
  <title>Omega/Chyld</title>
  <link rel="stylesheet" href="/css/photos.css" />
</head>
<body>
  <h1>Omega/Chyld</h1>
  <h2>Photos</h2>
  <ul>
    <li><a href="/">Home Page</a></li>
    <li><a href="/photos">Photos</a></li>
  </ul>
  <form action="/photos" method="post">
    <input type="url" name="url" />
    <input type="text" name="title" />
    <button>Add Photo</button>
  </form>
  <% for(var i = 0; i < rows.length; i++) { %>
    <div class="photo">
      <img src="<%= rows[i].doc.url %>" />
      <div class="title"><%= rows[i].doc.title %></div>
      <form method="post" action="/photos?_method=delete">
        <input type="hidden" name="_id" value="<%= rows[i].doc._id %>" />
        <input type="hidden" name="_rev" value="<%= rows[i].doc._rev %>" />
        <button>Delete</button>
      </form>
    </div>
  <% } %>
</body>
</html>
