<!doctype html>
<html>
  <head>
    <title>Bluemixer::Location</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/location">Location</a></li>
    </ul>
    <h1>Location Finder</h1>
    <button>Find Me!!!</button>
    <div id="address"></div>
    <script src="/js/jquery-2.1.4.js"></script>
    <script src="/js/location.js"></script>
  </body>
</html>
