<!doctype html>
<html>
  <head>
    <title>Bluemixer::Yoda</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/yoda">Yodo</a></li>
    </ul>
    <h1>Translate your sentence into Yoda Speak!</h1>
    <form method="post" action="/yoda">
      <input type="text" name="phrase"/>
      <button>Translate</button>
      <h3><%= translated %></h3>
    </form>
  </body>
</html>
