<!doctype html>
<html>
  <head>
    <title>Bluemixer</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/square">Square</a></li>
      <li><a href="/root">Root</a></li>
      <li><a href="/tax">Tax</a></li>
      <li><a href="/yoda">Yoda</a></li>
    </ul>
    <h1>Welcome to Bluemixer</h1>
  </body>
</html>
